* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.smui-paper.fullsize {
  width: 100%;
  height: 100%;
}

.new-game,
.continue-game {
  margin-top: 10px;
}

.mdc-text-field {
  width: 100%;
}
